name: build

on:
  push:
    branches: main

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        
        uses: actions/setup-python@v2

        with:
          python-version: '3.11.2'
          architecture: 'x64'

      - run: pip install discord.py