name: build

on:
  push:
    branches: main
  workflow_dispatch

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python3 and necessary library

        uses: actions/setup-python@v4

        with:
          python-version: '3.11.2'
          architecture: 'x64'

      - run: pip install discord.py